<!-- testimonial section starts -->
<section id="reviews" class="dtr-section dtr-py-100 bg-blue"> 
            
    <!-- heading-->
    <h3 class="text-center dtr-mb-50 color-white">Trusted by over 10,000 companies</h3>
    
    <!--===== testimonial slider starts =====-->
    <div class="dtr-slick-slider dtr-testimonial-style1 dtr-testimonial-boxed"> 
        
        <!--== slide 1 starts ==-->
        <div class="dtr-testimonial dtr-rounded-corner-xl bg-white"> 
            
            <!-- review text -->
            <div class="dtr-testimonial-content">“Get Hub app platform is incredibly
                simple to use.” </div>
            <!-- client info -->
            <div class="dtr-client-info">
                <div class="dtr-testimonial-user"> <img src="assets/images/review-user1.png" alt="image"> </div>
                <div class="dtr-testimonial-user-info">
                    <h6 class="dtr-client-name">Christian Brown</h6>
                    <span class="dtr-client-job">Entrepreneur, LA</span> </div>
            </div>
            <!-- client info ends --> 
        </div>
        <!--== slide 1 ends ==--> 
        
        <!--== slide 2 starts ==-->
        <div class="dtr-testimonial dtr-rounded-corner-xl bg-white"> 
            
            <!-- review text -->
            <div class="dtr-testimonial-content">“Giving a five star review was
                the easiest thing I've done in a while.” </div>
            <!-- client info -->
            <div class="dtr-client-info">
                <div class="dtr-testimonial-user"> <img src="assets/images/review-user2.png" alt="image"> </div>
                <div class="dtr-testimonial-user-info">
                    <h6 class="dtr-client-name">Mike Anderson</h6>
                    <span class="dtr-client-job">Project Admin, NY</span> </div>
            </div>
            <!-- client info ends --> 
        </div>
        <!--== slide 2 ends ==--> 
        
        <!--== slide 3 starts ==-->
        <div class="dtr-testimonial dtr-rounded-corner-xl bg-white"> 
            
            <!-- review text -->
            <div class="dtr-testimonial-content">“I am using Get Hub app for more than 25 years.” </div>
            <!-- client info -->
            <div class="dtr-client-info">
                <div class="dtr-testimonial-user"> <img src="assets/images/review-user1.png" alt="image"> </div>
                <div class="dtr-testimonial-user-info">
                    <h6 class="dtr-client-name">Steven Gray</h6>
                    <span class="dtr-client-job">Web Developer, Ohio</span> </div>
            </div>
            <!-- client info ends --> 
        </div>
        <!--== slide 3 ends ==--> 
        
        <!--== slide 4 starts ==-->
        <div class="dtr-testimonial dtr-rounded-corner-xl bg-white"> 
            
            <!-- review text -->
            <div class="dtr-testimonial-content">“I am using Get Hub app for more than 25 years.” </div>
            <!-- client info -->
            <div class="dtr-client-info">
                <div class="dtr-testimonial-user"> <img src="assets/images/review-user2.png" alt="image"> </div>
                <div class="dtr-testimonial-user-info">
                    <h6 class="dtr-client-name">Matt Weiner</h6>
                    <span class="dtr-client-job">UI Developer, Australia</span> </div>
            </div>
            <!-- client info ends --> 
        </div>
        <!--== slide 4 ends ==--> 
        
    </div>
    <!--===== testimonial slider ends =====--> 
    
</section>
<!-- testimonial section ends --> 