<!-- faq section starts -->
<section id="faq" class="dtr-section dtr-py-100">
    <div class="container">
        <h3 class="color-blue dtr-mb-40">Frequently asked questions</h3>
        <!-- row 1 starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-6"> 
                
                <!-- faq item starts -->
                <div class="faq-item">
                    <h4 class="faq-heading">Can I integrate my enterprise software with Get Hub? </h4>
                    <div class="faq-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                </div>
                <!-- faq item ends --> 
                
                <!-- faq item starts -->
                <div class="faq-item">
                    <h4 class="faq-heading">If I invite my suppliers or customers to Get Hub, do I have to pay for their accounts? </h4>
                    <div class="faq-content">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</div>
                </div>
                <!-- faq item ends --> 
                
                <!-- faq item starts -->
                <div class="faq-item dtr-mb-0">
                    <h4 class="faq-heading">What perks do I get for prepaying my subscription? </h4>
                    <div class="faq-content">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. </div>
                </div>
                <!-- faq item ends --> 
                
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-6"> 
                
                <!-- faq item starts -->
                <div class="faq-item">
                    <h4 class="faq-heading">Can I install Get Hub on my own hardware? </h4>
                    <div class="faq-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. </div>
                </div>
                <!-- faq item ends --> 
                
                <!-- faq item starts -->
                <div class="faq-item">
                    <h4 class="faq-heading">How can I obtain a copy of my data? </h4>
                    <div class="faq-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. </div>
                </div>
                <!-- faq item ends --> 
                
                <!-- faq item starts -->
                <div class="faq-item">
                    <h4 class="faq-heading">How safe is my data? </h4>
                    <div class="faq-content">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. </div>
                </div>
                <!-- faq item ends --> 
                
            </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row 1 ends --> 
        
        <!-- row 2 starts -->
        <div class="dtr-cta-box dtr-rounded-corner-xl dtr-shadow  dtr-mt-100 bg-white">
            <div class="row d-flex"> 
                <!-- column 1 starts -->
                <div class="col-12 col-md-5 align-self-end"> <img src="assets/images/cta-img.png" alt="image"> </div>
                <!-- column 1 ends --> 
                <!-- column 2 starts -->
                <div class="col-12 col-md-7 text-center dtr-py-50 dtr-px-60">
                    <h3 class="color-blue">Get started with Get Hub</h3>
                    <p class="text-size-md">Access our guide and discover everything your<br>
                        company needs to become compliant.</p>
                    <a href="#" class="dtr-btn btn-blue dtr-mt-20">Book a demo</a> </div>
                <!-- column 2 ends --> 
                
            </div>
        </div>
        <!-- row 2 ends --> 
        
    </div>
</section>
<!-- faq section ends --> 