<!-- footer section starts -->
<footer id="dtr-footer" class="dtr-section-with-bg" style="background-image: url(assets/images/footer-bg.png);">
    <div class="container">
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-sm-6 col-lg-4 dtr-mb-30"> <a href="index.html" class="d-block dtr-mb-15"><img src="assets/images/logo-white-main.png" alt="logo"></a>
                <p>Lorem ipsum dolor sit amet consect adipiscing elit, sed do eiusmod tempor incididunt labore at dolore.</p>
                <p>© 2021 Get Hub. All rights reserved.</p>
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-sm-6 col-lg-2 dtr-mb-30">
                <h4 class="color-blue">Company</h4>
                <ul class="dtr-list-simple">
                    <li><a href="#" class="dtr-styled-link">Features</a></li>
                    <li><a href="#" class="dtr-styled-link">Plan</a></li>
                    <li><a href="#" class="dtr-styled-link">Blog</a></li>
                    <li><a href="#" class="dtr-styled-link">Contact</a></li>
                </ul>
            </div>
            <!-- column 2 ends --> 
            
            <!-- column 3 starts -->
            <div class="col-12 col-sm-6 col-lg-2 dtr-mb-30">
                <h4 class="color-blue">Support</h4>
                <ul class="dtr-list-simple">
                    <li><a href="#" class="dtr-styled-link">Careers</a></li>
                    <li><a href="#" class="dtr-styled-link">Help</a></li>
                    <li><a href="#" class="dtr-styled-link">Privacy Policy</a></li>
                    <li><a href="#" class="dtr-styled-link">Terms</a></li>
                </ul>
            </div>
            <!-- column 3 ends --> 
            
            <!-- column 4 starts -->
            <div class="col-12 col-sm-6 col-lg-4 dtr-mb-30">
                <h4 class="color-blue">Newsletter</h4>
                <div class="dtr-form dtr-form-has-icon dtr-form-no-gap">
                    <form id="subscribeform" method="post" action="#">
                        <fieldset>
                            <div class="dtr-form-row-2col">
                                <p class="dtr-input dtr-form-column"> <i class="icon-envelope1 color-dark-blue"></i>
                                    <input name="email"  class="required email" type="text" placeholder="Email address">
                                </p>
                                <p class="dtr-form-column">
                                    <button class="dtr-btn btn-blue" type="submit">Subscribe</button>
                                </p>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="dtr-social-large">
                    <ul class="dtr-social dtr-social-list color-white-muted-alt accent-color-hover text-center">
                        <li><a href="#" class="dtr-twitter" target="_blank" title="twitter"></a></li>
                        <li><a href="#" class="dtr-facebook" target="_blank" title="facebook"></a></li>
                    </ul>
                </div>
            </div>
            <!-- column 4 ends --> 
            
        </div>
    </div>
</footer>
<!-- footer section ends --> 
