
<!-- hero section starts -->
<section id="home" class="dtr-section dtr-section-with-bg" style="background-image: url(assets/images/header.jpg);">
    <div class="container hero-section-top-padding dtr-full-stretch"> 
        <!-- row starts -->
        <div class="row dtr-py-100"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-lg-6 dtr-py-100 hero-text-fixed-width">
                <h1 class="color-white">Empowering Next Gen F&B Businesses</h1>
                <p class="text-size-md dtr-mt-30 color-white">Scale your F&B business effortlessly with Aliments at your fingertips. The future of F&B is now here!</p>
                <a href="login.html" class="dtr-btn btn-white dtr-scroll-link dtr-px-70 dtr-mt-20">Call Us Today</a>
                <p class="color-white dtr-mt-5"></p>
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-lg-6 dtr-section-with-bg dtr-bg-position-center-left" style="background-image: url(assets/images/hero-img-mac.png);"> </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row ends --> 
    </div>
</section>
<!-- hero section ends --> 

<!-- logo slider section starts -->
<section class="dtr-section dtr-border-y border-grey dtr-py-50"> 
    
    <!-- row starts -->
    <div class="row">
        <div class="col-12">
            <div class="dtr-slick-slider dtr-logo-carousel"> 
                <!-- logo 1 -->
                <div> <img src="assets/images/client-1.png" alt="image"> </div>
                <!-- logo 2 -->
                <div> <img src="assets/images/client-2.png" alt="image"> </div>
                <!-- logo 3 -->
                <div> <img src="assets/images/client-3.png" alt="image"> </div>
                <!-- logo 4 -->
                <div> <img src="assets/images/client-4.png" alt="image"> </div>
                <!-- logo 5 -->
                <div> <img src="assets/images/client-5.png" alt="image"> </div>
                <!-- logo 6 -->
                <div> <img src="assets/images/client-6.png" alt="image"> </div>
                <!-- logo 7 -->
                <div> <img src="assets/images/client-4.png" alt="image"> </div>
            </div>
        </div>
    </div>
    <!-- row ends --> 
    
</section>
<!-- logo slider section ends --> 