<!-- pricing section ends --> 
<section id="plans" class="dtr-section dtr-py-100 bg-light-blue parallax" style="background-image: url(assets/images/section-bg2.png);">
    <div class="container"> 
        
        <!-- section intro row starts -->
        <div class="row dtr-mb-80">
            <div class="col-12 text-center">
                <h2>Not all #SelfOrdering solutions </h2>
                <p>are equal We are ahead of our competitors</p>
                <div class="dtr-styled-divider divider-center bg-light-green"></div>
            </div>
        </div>
        <!-- section intro row ends --> 
        
        <!-- row starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/disc.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Table QR Ordering</h4>
                    <p class="dtr-m-0">Best for quick-service F&amp;Bs; simply sit back & relax. Accommodate more customers within the same period of time.</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/qr-code.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Dynamic QR Ordering</h4>
                    <p class="dtr-m-0">Designed for table service F&Bs. Speed up & cut down the need of taking order manually. Reducing key-in error by staff.</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 2 ends -->
            
            <!-- column 3 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/touch.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Order Ahead & Pickup</h4>
                    <p class="dtr-m-0">Perfect for F&Bs that provide takeaway service. Order & pay before even reaching the outlet, a true Grab & Go experience.</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 3 ends -->
            
            <!-- column 4 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/unique-idea.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Smart Drive Thru</h4>
                    <p class="dtr-m-0">Enjoy Big Brands privilege by providing Drive Thru service if your outlet is facing a road. We promise: No bungalow lot required!</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 4 ends --> 
            
            <!-- column 5 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/alarm.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Kiosk Ordering</h4>
                    <p class="dtr-m-0">Intuitive & simple user interface brings the un-manned & cashless ordering experience to a whole new level.</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 5 ends -->
            
            <!-- column 6 starts -->
            <div class="col-12 col-md-4 dtr-pr-0 dtr-md-pr-15"> 
                
                <!-- pricing 1 starts -->
                <div class="dtr-pricing1">
                    <div class="col-md-3"><img src="assets/images/fast-delivery.svg" alt="image"></div>
                    <div class="col-md-9">
                    <h4>Delivery Service</h4>
                    <p class="dtr-m-0">We are integrated with top market leader in on-demand delivery service to ensure that your delivery service is running smooth.</p>
                    </div>
                </div>
                <!-- pricing 1 ends --> 
                
            </div>
            <!-- column 6 ends -->
            
        </div>
        <!-- row ends --> 
        
    </div>
</section>
