<!-- Small Devices Header -->
<div class="dtr-responsive-header fixed-top">
    <div class="container"> 
        
        <!-- small devices logo --> 
        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a> 
        <!-- small devices logo ends --> 
        
        <!-- menu button -->
        <button id="dtr-menu-button" class="dtr-hamburger" type="button"><span class="dtr-hamburger-lines-wrapper"><span class="dtr-hamburger-lines"></span></span></button>
    </div>
    <div class="dtr-responsive-header-menu"></div>
</div>
<!-- Small Devices Header ends --> 

<header id="dtr-header-global" class="fixed-top">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between"> 
            
            <!-- header left starts -->
            <div class="dtr-header-left"> 
                
                <!-- logo --> 
                <a class="logo-default dtr-scroll-link" href="#home"><img src="assets/images/logo-white-main.png" alt="logo"></a> 
                
                <!-- logo on scroll --> 
                <a class="logo-alt dtr-scroll-link" href="#home"><img src="assets/images/logo.png" alt="logo"></a> 
                <!-- logo on scroll ends --> 
                
            </div>
            <!-- header left ends --> 
            
            <!-- menu starts-->
            <div class="main-navigation navbar navbar-expand-lg ml-auto">
                <ul class="dtr-scrollspy navbar-nav dtr-nav light-nav-on-load dark-nav-on-scroll">
                    <li class="nav-item"> <a class="nav-link " href="#home">Features</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#features">Hardware</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#plans">Ecommerce</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#faq">Pricing</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#blog">More</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a> </li>
                </ul>
            </div>
            <!-- menu ends--> 
            
            <!-- header right starts -->
            <div class="dtr-header-right"> <a href="login.html" class="dtr-btn btn-white btn-accent-on-scroll dtr-scroll-link dtr-px-50">Start Free Trial</a> </div>
            <!-- header right ends --> 
            
        </div>
    </div>
</header>
