<!-- tabs section starts -->
<section class="dtr-section dtr-py-100">
    <div class="container"> 
        
        <!-- section intro row starts -->
        <div class="row dtr-mb-30">
            <div class="col-12 text-center">
                <h2>How it works?</h2>
                <p>Just 3 simple steps to start using Get Hub.</p>
                <div class="dtr-styled-divider divider-center bg-light-blue"></div>
            </div>
        </div>
        <!-- section intro row ends --> 
        
        <!-- tabs starts -->
        <div class="row d-flex align-items-center dtr-features-tab"> 
            
            <!-- left column starts -->
            <div class="col-12 col-md-6">
                <div class="tab-content" id="v-pills-tabContent"> 
                    
                    <!-- tab 1 -->
                    <div class="tab-pane fade" id="features-tab-1" role="tabpanel" aria-labelledby="features-tab-1-tab"> <img src="assets/images/screen-1.png" alt="image"> </div>
                    <!-- tab 2 -->
                    <div class="tab-pane fade show active" id="features-tab-2" role="tabpanel" aria-labelledby="features-tab-2-tab"><img src="assets/images/screen-2.png" alt="image"></div>
                    <!-- tab 3 -->
                    <div class="tab-pane fade" id="features-tab-3" role="tabpanel" aria-labelledby="features-tab-3-tab"><img src="assets/images/screen-3.png" alt="image"></div>
                </div>
            </div>
            <!-- left column ends --> 
            
            <!-- right (nav) column starts -->
            <div class="col-12 col-md-6">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"> 
                    
                    <!-- tab 1 content starts --> 
                    <a class="nav-link" id="features-tab-1-tab" data-toggle="pill" href="#features-tab-1" role="tab" aria-controls="features-tab-1" aria-selected="false">
                    <h4 class="font-weight-600">Create your tasks</h4>
                    <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                    </a> 
                    <!-- tab 1 content ends --> 
                    
                    <!-- tab 2 content starts --> 
                    <a class="nav-link active" id="features-tab-2-tab" data-toggle="pill" href="#features-tab-2" role="tab" aria-controls="features-tab-2" aria-selected="true">
                    <h4 class="font-weight-600">Build your flow</h4>
                    <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                    </a> 
                    <!-- tab 2 content ends --> 
                    
                    <!-- tab 3 content starts --> 
                    <a class="nav-link" id="features-tab-3-tab" data-toggle="pill" href="#features-tab-3" role="tab" aria-controls="features-tab-3" aria-selected="false">
                    <h4 class="font-weight-600">Aquire new users</h4>
                    <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                    </a> 
                    <!-- tab 3 content ends --> 
                    
                </div>
            </div>
            <!-- right (nav) column ends --> 
            
        </div>
        <!-- tabs starts --> 
        
    </div>
</section>
<!-- tabs section ends --> 