<!-- section starts -->
<section id="features" class="dtr-section dtr-py-80">
    <div class="container"> 
        
        <!-- row 1 starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-6 dtr-mt-20">
                <h2 class="color-blue">A cloud POS that requires less operation overhead</h2>
                <hr>
                <p>After tonnes of efforts, paired with professional engineering resources and countless days of sleep deprivation, we aim for only one single thing, <strong>to help restaurants to grow and scale effortlessly.</strong></p>
                <p class="color-blue">Built for full service, quick service, bars, and cafes.</p>
                <a href="#" class="dtr-btn btn-blue dtr-mt-20">Discover more</a> </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-6 wow fadeInRight">
            <div class="row fontsvg">
                <div class="col-md-6 dtr-mt-50">
                    <img src="assets/fonts/layers.svg" alt="image">
                    <h4>Work offline</h4>
                    <p>Be it Internet up or down, you can get uninterrupted service. Our system automatically syncs & backup all data.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/fonts/light-bulb.svg" alt="image">
                    <h4>Higher table turnover</h4>
                    <p>Speed up your restaurant’s productivity by cutting down manual processes. It also helps to eliminate mistakes made by staff.</p>
                </div>
                <div class="col-md-6 dtr-mt-50">
                    <img src="assets/fonts/random.svg" alt="image">
                    <h4>Integrated Payment</h4>
                    <p>Major eWallets & cards payment in Malaysia are supported out of the box, which brings the checkout experience to a whole new level.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/fonts/dashboard-web.svg" alt="image">
                    <h4>Integrated Food Delivery</h4>
                    <p>Integrated solution so you don’t have to manual key-in orders from delivery into POS anymore.</p>
                </div>
                </div>
            </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row 1 ends --> 
        
        <!-- row 2 starts -->
        <div class="row dtr-my-80"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-6 wow fadeInLeft"> <img src="assets/images/screen-2.png" alt="image"> </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-5 offset-md-1 dtr-mt-20">
                <h2 class="color-blue">One product catalog for your store and online</h2>
                <p>There are many variations of passages of lor ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                <a href="#" class="dtr-btn btn-blue dtr-mt-20">Discover</a> </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row 2 ends --> 
        
        <!-- rowcopy 2 starts -->
        <div class="row dtr-my-80" style="background-image: url(assets/images/seo-curve-line.png);background-position: center center;
background-repeat: no-repeat;"> 
            
            <!-- column 1 starts -->
            <div class="baar col-md-3 dtr-mt-40" style="background-image: url(assets/images/seo-polygon-banner.png);background-position: center center;
                background-repeat: no-repeat;">
                <img src="assets/images/dining-table.svg" alt="image">
                <h4>Table Service Restaurant</h4>
            </div>
            
            <div class="baar col-md-3" style="background-image: url(assets/images/seo-polygon-banner.png);background-position: center center;
                background-repeat: no-repeat;">
                <img src="assets/images/lunch.svg" alt="image">
                <h4>Quick Service Restaurant</h4>
            </div>
            
            <div class="baar col-md-3 dtr-mt-40" style="background-image: url(assets/images/seo-polygon-banner.png);background-position: center center;
                background-repeat: no-repeat;">
                <img src="assets/images/glass.svg" alt="image">
                <h4>Bars</h4>
            </div>
            
            <div class="baar col-md-3" style="background-image: url(assets/images/seo-polygon-banner.png);background-position: center center;
                background-repeat: no-repeat;">
                <img src="assets/images/beverage.svg" alt="image">
                <h4>Cafes</h4>
            </div>
            <!-- column 1 ends -->  
            
        </div>
        <!-- rowcopy 2 ends --> 
        
        <!-- row 3 starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-5 dtr-mt-20">
                <h2 class="color-blue">Set up your online store in just minutes.</h2>
                <p>There are many variations of passages of lor ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                <a href="#" class="dtr-btn btn-blue dtr-mt-20">Discover</a> </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-6 offset-md-1 dtr-sm-mt-30 wow fadeInRight"> <img src="assets/images/screen-3.png" alt="image"> </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row 3 ends --> 
        
    </div>
</section>
<!-- section ends --> 

<!-- boxed feature section starts -->
<section class="dtr-section dtr-pt-100 dtr-pb-70 dtr-section-with-bg bg-light-blue-alt parallax" style="background-image: url(assets/images/section-bg1.png);">
    <div class="container"> 
        
        <!-- row starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-4"> 
                
                <!-- feature starts -->
                <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                    <div class="dtr-feature-img"> <img src="assets/images/shape-icon1.png" alt="image"> </div>
                    <div class="dtr-feature-content">
                        <h3>Get Hub</h3>
                        <p class="text-size-lg">Implement</p>
                        <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        <a href="#" class="dtr-styled-link font-weight-600 color-blue">Learn More</a> </div>
                </div>
                <!-- feature ends --> 
                
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-4"> 
                
                <!-- feature starts -->
                <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                    <div class="dtr-feature-img"> <img src="assets/images/shape-icon2.png" alt="image"> </div>
                    <div class="dtr-feature-content">
                        <h3>Get Hub</h3>
                        <p class="text-size-lg">secure</p>
                        <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        <a href="#" class="dtr-styled-link font-weight-600 color-blue">Learn More</a> </div>
                </div>
                <!-- feature ends --> 
                
            </div>
            <!-- column 2 ends --> 
            
            <!-- column 3 starts -->
            <div class="col-12 col-md-4"> 
                
                <!-- feature starts -->
                <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                    <div class="dtr-feature-img"> <img src="assets/images/shape-icon3.png" alt="image"> </div>
                    <div class="dtr-feature-content">
                        <h3>Get Hub</h3>
                        <p class="text-size-lg">Automate</p>
                        <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        <a href="#" class="dtr-styled-link font-weight-600 color-blue">Learn More</a> </div>
                </div>
                <!-- feature ends --> 
                
            </div>
            <!-- column 3 ends --> 
            
        </div>
        <!-- row ends --> 
        
    </div>
</section>
<!-- boxed feature section ends --> 

<!-- video section starts -->
<section class="dtr-section dtr-py-100">
    <div class="container"> 
        
        <!-- section intro row starts -->
        <div class="row dtr-mb-50">
            <div class="col-12 text-center">
                <h2>Why is Get Hub different?</h2>
                <div class="dtr-styled-divider divider-center bg-light-blue"></div>
            </div>
        </div>
        <!-- section intro row ends --> 
        
        <!-- row starts -->
        <div class="row d-flex align-items-center"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-5">
                <div class="dtr-pr-40 dtr-sm-pr-0"> 
                    
                    <!-- feature 1 starts -->
                    <div class="dtr-line-feature dtr-mb-10">
                        <div class="dtr-line-feature-img-wrapper">
                            <div class="dtr-line-feature-img bg-blue border-light-blue color-white"><i class="icon-user-edit"></i></div>
                        </div>
                        <div class="dtr-vert-border border-light-blue"></div>
                        <h4 class="dtr-line-feature-heading font-weight-600">Developer-first coding </h4>
                        <p>There are many variations of passages of lorem available.</p>
                    </div>
                    <!-- feature 1 ends --> 
                    
                    <!-- feature 2 starts -->
                    <div class="dtr-line-feature dtr-mb-10">
                        <div class="dtr-line-feature-img-wrapper">
                            <div class="dtr-line-feature-img bg-blue border-light-blue color-white"><i class="icon-mail-bulk"></i></div>
                        </div>
                        <div class="dtr-vert-border border-light-blue"></div>
                        <h4 class="dtr-line-feature-heading font-weight-600">Leading incremental database</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit.</p>
                    </div>
                    <!-- feature 2 ends --> 
                    
                    <!-- feature 3 starts -->
                    <div class="dtr-line-feature">
                        <div class="dtr-line-feature-img-wrapper">
                            <div class="dtr-line-feature-img bg-blue border-light-blue color-white"><i class="icon-shipping-fast"></i></div>
                        </div>
                        <div class="dtr-vert-border border-light-blue"></div>
                        <h4 class="dtr-line-feature-heading font-weight-600">Automated work flow</h4>
                        <p>Similique sunt in culpa qui officia deserunt mollitia animi.</p>
                    </div>
                    <!-- feature 3 ends --> 
                    
                </div>
            </div>
            <!-- column 1 starts --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-7 dtr-md-mt-30"> 
                
                <!-- video box starts -->
                <div class="dtr-video-box"> 
                    
                    <!-- image --> 
                    <img src="assets/images/video-bg.jpg" alt="image"> 
                    
                    <!-- video button starts --> 
                    <a class="dtr-video-popup dtr-video-button bg-blue color-white" data-autoplay="true" data-vbtype="video" href="#"></a> 
                    <!-- video button ends --> 
                    
                </div>
                <!-- video box ends --> 
                
            </div>
            <!-- column 2 ends --> 
            
        </div>
        <!-- row ends --> 
        
    </div>
</section>
<!-- video section ends --> 
