
<!-- news section starts -->
<section id="blog" class="dtr-section dtr-py-100 bg-light-blue-alt parallax" style="background-image: url(assets/images/section-bg2.png);">
    <div class="container"> 
        
        <!-- section intro row starts -->
        <div class="row dtr-mb-50">
            <div class="col-12 text-center">
                <h2>From the blog</h2>
                <div class="dtr-styled-divider divider-center bg-light-blue"></div>
            </div>
        </div>
        <!-- section intro row ends --> 
        
        <!-- row starts -->
        <div class="row"> 
            
            <!-- column 1 starts -->
            <div class="col-12 col-md-4"> 
                
                <!-- blog item 1 starts -->
                <div class="dtr-blog-item dtr-shadow"> 
                    <!-- image -->
                    <div class="dtr-post-img"> <img src="assets/images/post-img1.jpg" alt="image"> </div>
                    <div class="dtr-post-content">
                        <p class="dtr-blog-category"><a href="#" class="color-blue">Media Coverage</a></p>
                        <h4><a href="#">How to use saas to create a positive work</a></h4>
                        <p class="dtr-mb-20">There are many variations of passages of lorem ipsum dolor amet available...</p>
                        <a href="#" class="dtr-read-more">Continue Reading<i class="icon-ellipsis-h dtr-ml-10 color-blue"></i></a> </div>
                </div>
                <!-- blog item 1 ends --> 
                
            </div>
            <!-- column 1 ends --> 
            
            <!-- column 2 starts -->
            <div class="col-12 col-md-4 dtr-md-mt-30"> 
                
                <!-- blog item 2 starts -->
                <div class="dtr-blog-item dtr-shadow"> 
                    <!-- image -->
                    <div class="dtr-post-img"> <img src="assets/images/post-img2.jpg" alt="image"> </div>
                    <div class="dtr-post-content">
                        <p class="dtr-blog-category"><a href="#" class="color-blue">Media Coverage</a></p>
                        <h4><a href="#">5 tips to boost product based sale online</a></h4>
                        <p class="dtr-mb-20">There are many variations of passages of lorem ipsum dolor amet available...</p>
                        <a href="#" class="dtr-read-more">Continue Reading<i class="icon-ellipsis-h dtr-ml-10 color-blue"></i></a> </div>
                </div>
                <!-- blog item 2 ends --> 
                
            </div>
            <!-- column 2 ends --> 
            
            <!-- column 3 starts -->
            <div class="col-12 col-md-4 dtr-md-mt-30"> 
                
                <!-- blog item 3 starts -->
                <div class="dtr-blog-item dtr-shadow"> 
                    <!-- image -->
                    <div class="dtr-post-img"> <img src="assets/images/post-img3.jpg" alt="image"> </div>
                    <div class="dtr-post-content">
                        <p class="dtr-blog-category"><a href="#" class="color-blue">Media Coverage</a></p>
                        <h4><a href="#">How to become a fully AI based company</a></h4>
                        <p class="dtr-mb-20">There are many variations of passages of lorem ipsum dolor amet available...</p>
                        <a href="#" class="dtr-read-more">Continue Reading<i class="icon-ellipsis-h dtr-ml-10 color-blue"></i></a> </div>
                </div>
                <!-- blog item 3 ends --> 
                
            </div>
            <!-- column 3 ends --> 
            
        </div>
        <!-- row starts --> 
        
    </div>
</section>
<!-- news section ends --> 